.page{
	background-color:#EDEDED;
	/* #ifndef APP-PLUS-NVUE */
	min-height: 100%;
	height: auto;
	/* #endif */
	
	/* #ifdef APP-APP-PLUS-NVUE */
		flex: 1;
	/* #endif */
}

.main-bg-color{
	background-color: #08C060;
}
.mian-text-color{
	color: #08C060;
}